/*
 * @summary 電子カルテ　CSS
 * @author S.Kobayashi
 */

body.form
{
  margin : 1em;  
}

/*タイトル*/
h1
{
  text-align: center; 
}

h2
{
/*  text-align: center; */
}

h3
{
/*  text-align: center; */
}

tfoot.submit
{
  text-align: right;
}

/*ページ遷移ボタン*/
button.page 
{
  display : inline-block;
  width : 200px;
}

/* スタンプリスト（アコーディオンメニュー） */
div#NoteItemMenu h3
{
/* 
  margin paddingは初期設定に準拠する。
  margin  : 0em 0em 0em 0em;
  padding : 0em 0em 0em 0em;
*/
}

div#NoteItemMenu div.stamp_list 
{
  overflow: scroll;
  height : 200px; /* TODO : 暫定 */
  margin  : 0.em 0em 0em 0em;
  padding : 0.1em 0.1em 0.1em 0.1em;
}

/**付箋リスト**/ 
div.IndexList
{
  overflow: scroll; 
  width: 100%;
  height : 100%;
}

/**付箋**/
div.Index
{
  border: solid 1px #eeeeee;
}

/**付箋（日付）**/
div.Index.IndexDate
{
  background: #dddddd;
}

/**付箋（アイテム）**/
div.Index.IndexItem
{
  background: #ffffff;
}

/**ノートアイテムコンテナ**/
div.NoteItemContainer 
{ 
  width   : 400px; 
  height  : auto;/*100px;*/ 
  border  : solid 1px #000000;
  margin  : 0px; 
  padding : 2px; /*0.5em;*/ 
}
div.NoteItemContainer h1 
{ 
  /*border            : solid 1px;*/
  color             : white;
  background-color  : gray;
  font-size         : 12pt;
  text-align        : center;
  padding           : 0;/*0.5em;*/ 
  margin            : 0; 
}

/*
div.NoteItemContainer.NoteItemContainerComplaint
{
  left : 100;
  top : 100;
}
*/

/**ノートアイテム**/
div.NoteItem
{
  width: 100%; /*250px*/
  height: auto;/*100px;*/
  cursor: pointer;
  overflow: visible;
  padding           : 2px;/*0.5em;*/ 
  margin            : 0px;/*0;*/ 
  border: solid 1px #cccccc;
}

div.NoteItem #tags
{
  color : #ffffff;
  font-size: 9pt;
}

/**ノートアイテム（主訴）**/
div.NoteItemComplaint
{
  background: #ff7f7f;
}

/**ノートアイテム（所見）**/
div.NoteItemDisease
{
  background: #ff7fbf;
}

/**ノートアイテム（検査）**/
div.NoteItemMedicalCheck
{
  background: #ff7fff;
}

/**ノートアイテム（処方）**/
div.NoteItemPrescription
{
  background: #7f7fff;  
}

/**ノートアイテム（手術）**/
div.NoteItemOperation
{
  background: #7fbfff;  
}

/**ノートアイテム（シェーマ）**/
div.NoteItemScheme
{
  background: #dddddd;
}


/**ノートアイテム（メモ）**/
div.NoteItemMemo
{
  background: #7fffff;
}

/**ファイル添付**/
img.attachment
{
  width : 20%;
}

/**シェーマ**/
img.scheme 
{
  width : 100%;
}

/*** コンテキストメニュー ***/
#ctx {
  display: none;
  position: absolute;
  margin: 0;
  padding: 2px;
  border: 1px solid gray;
  list-style-type: none;
  background: #EEE;
  font-size: 0.75em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}
#ctx > li {
  padding: 5px 20px 5px 10px;
  cursor: default;
}
#ctx > li:hover {
  background: #06c;
  color: white;
}
