#!/usr/bin/ruby

print "Content-type: text/html\n\n"

print "<html>\n"
print "<body>\n"
print "<h1>Vagrant Demo : Ruby</h1>\n"
print "<h1>\n"
print Time.now.strftime('%Y/%m/%d')
print "\n</h1>\n"
print "</body>\n"
print "</html>\n" 